*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
 }
 body{
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     height: 100vh;
     display: grid;
     grid-template-areas: 
     'aside header header'
     'aside content content'
     'aside content content';
     grid-template-columns: 1fr 4fr 1fr;
     grid-template-rows: 80px 1fr 70px;
     
 }
 header,footer,main,aside,nav{
    background-color: whitesmoke;
    color: black;
    padding: 20px;
 }
 header{
    grid-area: header;
    font-size: 2rem;
    font-weight: bolder;
 }
 ul {
    list-style-type: none;
    align-items: center;
    border: 4px solid red;
    height: 90vh;
    position: relative;
  }

main{
    grid-area: content;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}
.navbar-menu{
   background-color: lightgray; 
   position:relative;
}
.navbar-menu a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }

.menu{
    display:flex;  
    justify-content: space-between;
}
.navbar-menu ul{
    padding: 50px;
}
.navbar-menu ul li{
    padding: 10px;
}
.navbar-menu ul li:last-child{
    position: absolute;
    bottom: 1rem;
    width: 3000px;
}
.navbar-menu a:hover {
    color: steelblue;
  }
.navbar-menu a.active{
        background-color: #04AA6D;
}
#logout-btn{
    color:white;
    background-color: rgb(230, 132, 165);
    padding: 0.5rem 1rem;
}

.content{
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 10px;
    display:grid;
    grid-template-columns: 1fr;
}
.stocks-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.stocks{
    background-color: rgb(151, 30, 30);
    color: white;
}
.bg__stock{
    background: rgba(225, 82, 82, 0.3); 
    padding: 5px;
    border-radius: 5px;
}
.bg_new_customer{
    background: rgb(82, 139, 186); 
    padding: 5px;
    border-radius: 5px; 
}
.bg__pending{
    background: rgb(197, 197, 48); 
    padding: 5px;
    border-radius: 5px; 
}
.new-customers{
    background-color: steelblue;
    color: white;
}
.pending{
    background-color: rgb(205, 205, 12);
    color: white;
}
.main-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: 50%;
}
.button-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    background-color: gainsboro;
    border-radius: 5px;
}
.button-group button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

@media(max-width: 768px){
    .main-content{
        grid-template-columns: 1fr;
        padding: 0.3rem 1rem;
      
    }
    aside{
        display: none;
    }
    main{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    header{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    body{
        
        grid-template-columns: 1fr;
        width: 100%;
        padding: 1rem 2rem;
    }
}